<!DOCTYPE html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Intro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>

  </head>

  <body>

    <div id="app" class="uk-section uk-position-relative">
      
      <div id="cart" class="uk-card uk-card-default uk-padding-small uk-position-top-right uk-position-small">
        <span uk-icon="cart"></span>
        <span class="uk-badge uk-margin-small-left">{{ cart }}</span>
      </div>

      <div class="uk-container">

        <h1 class="uk-heading-medium uk-text-center uk-margin-large-bottom">Vue Product</h1>
        
        <div class="product" :style="style">
          <div class="uk-grid" uk-grid>

            <div class="uk-width-expand@m">
              <div class="product-media uk-position-relative">
                <!-- v-bind:src or use shorthand :src ...  any attribute -->
                <img v-bind:src="image" v-bind:alt="product" width="580" height="420" />
              </div>
            </div>

            <div class="uk-width-expand@m">
              <div class="product-info">

                <h1>{{ product }}</h1>
                
                <!-- v-if - v-else-if - v-else -->
                <span v-if="inStock && (stock < 10 && stock > 0)" class="uk-label uk-label-success">Almost Sold!</span>
                <span v-else-if="inStock && stock != 0" class="uk-label uk-label-success">In Stock</span>
                <span v-else class="uk-label uk-label-danger">Out of Stock</span>
                <span v-if="inStock && (stock < 20 && stock > 0)" class="uk-label uk-label-warning uk-margin-small-left">Only {{ stock }} left</span>

                <!-- v-show toggles one element. Unlike v-if, v-show adding a display:none -->
                <span v-show="isPromo" class="uk-label uk-margin-small-left">Promo</span>

                <!-- v-for -->
                <ul class="uk-list uk-list-disc uk-list-collapse">
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <!-- 
                  v-for and :key
                  @mouseover event 
                -->
                <div>
                  <span 
                    v-for="variant in variants" 
                    :key="variant.id" 
                    @mouseover="updateImage(variant.image)" 
                    class="color-circle"
                    :style="{ backgroundColor: variant.color }">
                  </span>
                </div>

                <p>{{ description }}</p>

                <div class="uk-margin">
                  <!-- event handling v-on:click -->
                  <button 
                    v-on:click="addToCart"
                    :disabled="!inStock || stock < 1"
                    :class="{ disabledButton: !inStock || stock < 1 }"
                    type="button" 
                    class="uk-button uk-button-primary uk-margin-right"
                  >
                    Add to Cart
                  </button>
                  <!-- use event shorthand @click -->
                  <button @click="emptyCart" type="button" class="uk-button uk-button-danger uk-margin-right">
                    Reset Cart
                  </button>
                  <!-- v-bind short :href -->
                  <a :href="url" class="uk-button uk-button-default">Details</a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>  

    <!-- import app -->
    <script src="main.js"></script>

    <!-- mount app -->
    <script>
      const mountedApp = app.mount('#app');
      console.log(mountedApp.inStock);
    </script>

  </body>

</html>