body {
  font-family: 'Inter', sans-serif;
}

.color-circle {
  display:inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.color-circle.active {
  box-sizing: border-box;
  transform: scale(1.3);
  transition: transform .3s;
}